# Client
.fabric/
.vscode/
.mixin.out/
armourers_workshop/
modernfix/
saves/
xaero/
XaeroWaypoints*
shaderpacks/
screenshots/
servers.dat
servers.dat_old
stackdeobf_mappings/
TrashSlotSaveState.json
usercache.json
usernamecache.json
resourcepacks/
rhino.local.properties
patchouli_data.json
observable_announce
ModTranslations/
mods/
logs/
local/
immersive_library/
emi.json
icon.png
fancymenu_data/
irisUpdateInfo.json
crash-reports/
data/

# Server
libraries/
world/
versions/
whitelist.json
start.bat
start.cmd
start.sh
server.jar
server.properties
ops.json
fabric-server-launcher.properties
fabric-server-launch.jar
eula.txt
banned-ips.json
banned-players.json
