# Common
**/*.jar
**/*.disabled
**/*.ini
**/*.dat
**/*.dat_old
**/*.zip
**/*.properties

# Included
!resourcepacks/The Energy Race Resourcepack

# Curseforge
.curseclient
minecraftinstance.json
manifest.json
modlist.html

# Client Folders
.fabric/
.vscode/
.mixin.out/
armourers_workshop/
modernfix/
saves/
xaero/
XaeroWaypoints*
shaderpacks/
screenshots/
stackdeobf_mappings/
resourcepacks/*
ModTranslations/
logs/
local/
immersive_library/
fancymenu_data/
crash-reports/
data/

# Client Configs
TrashSlotSaveState.json
usercache.json
usernamecache.json
patchouli_data.json
irisUpdateInfo.json
emi.json

# Client Msc
icon.png
options.txt
observable_announce

# Server Folders
libraries/
world/
versions/

# Server Files
start.*
server.jar
eula.txt

# Server Configs
whitelist.json
ops.json
banned-ips.json
banned-players.json
