# Client Folders
.fabric/
.vscode/
.mixin.out/
armourers_workshop/
modernfix/
saves/
xaero/
XaeroWaypoints*
shaderpacks/
screenshots/
stackdeobf_mappings/
resourcepacks/*
ModTranslations/
mods/
logs/
local/
immersive_library/
fancymenu_data/
crash-reports/
data/

# Client Files
*.dat
*.dat_old
*.zip
*.properties

# Client Configs
TrashSlotSaveState.json
usercache.json
usernamecache.json
patchouli_data.json
irisUpdateInfo.json
emi.json

# Client Msc
icon.png
options.txt
observable_announce

# Server
libraries/
world/
versions/
whitelist.json
start.bat
start.cmd
start.sh
server.jar
server.properties
ops.json
fabric-server-launcher.properties
fabric-server-launch.jar
eula.txt
banned-ips.json
banned-players.json

# Include These Files
!resourcepacks/The Energy Race Resourcepack
